epcis/src/main/webapp/wsdl/EPCglobalEPCISServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- EPCIS QUERY SERVICE DEFINITIONS -->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:epcglobal="epcglobal.axis.epcis.oliot.org"
	xmlns:epcis="axis.epcis.oliot.org" xmlns:epcisq="query.axis.epcis.oliot.org"
	xmlns:impl="wsdl.axis.epcis.oliot.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="wsdl.axis.epcis.oliot.org">

	<wsdl:documentation>
		<epcglobal:copyright>
			Copyright (C) 2006, 2005 EPCglobal Inc., All
			Rights Reserved.
		</epcglobal:copyright>
		<epcglobal:disclaimer>
			EPCglobal Inc., its members, officers,
			directors, employees, or agents shall
			not be liable for any injury,
			loss, damages, financial or otherwise,
			arising from, related to, or
			caused by the use of this document. The
			use of said document shall
			constitute your express consent to the
			foregoing exculpation.
		</epcglobal:disclaimer>
		<epcglobal:specification>
		</epcglobal:specification>
	</wsdl:documentation>

	<!-- EPCISSERVICE TYPES -->
	<wsdl:types>
		<xsd:schema targetNamespace="wsdl.axis.epcis.oliot.org">
			<xsd:import namespace="epcglobal.axis.epcis.oliot.org"
				schemaLocation="EPCglobal.xsd" />
			<xsd:import namespace="axis.epcis.oliot.org"
				schemaLocation="EPCglobal-epcis-1_1_jack.xsd" />
			<xsd:import namespace="query.axis.epcis.oliot.org"
				schemaLocation="EPCglobal-epcis-query-1_1.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- EPCIS QUERY SERVICE MESSAGES -->

	<wsdl:message name="getQueryNamesRequest">
		<wsdl:part element="epcisq:GetQueryNames" name="parms" />
	</wsdl:message>
	<wsdl:message name="getQueryNamesResponse">
		<wsdl:part element="epcisq:GetQueryNamesResult" name="getQueryNamesReturn" />
	</wsdl:message>

	<wsdl:message name="subscribeRequest">
		<wsdl:part element="epcisq:Subscribe" name="parms" />
	</wsdl:message>
	<wsdl:message name="subscribeResponse">
		<wsdl:part element="epcisq:SubscribeResult" name="subscribeReturn" />
	</wsdl:message>

	<wsdl:message name="unsubscribeRequest">
		<wsdl:part element="epcisq:Unsubscribe" name="parms" />
	</wsdl:message>
	<wsdl:message name="unsubscribeResponse">
		<wsdl:part element="epcisq:UnsubscribeResult" name="unsubscribeReturn" />
	</wsdl:message>

	<wsdl:message name="getSubscriptionIDsRequest">
		<wsdl:part element="epcisq:GetSubscriptionIDs" name="parms" />
	</wsdl:message>
	<wsdl:message name="getSubscriptionIDsResponse">
		<wsdl:part element="epcisq:GetSubscriptionIDsResult" name="getSubscriptionIDsReturn" />
	</wsdl:message>

	<wsdl:message name="pollRequest">
		<wsdl:part element="epcisq:Poll" name="parms" />
	</wsdl:message>
	<wsdl:message name="pollResponse">
		<wsdl:part element="epcisq:QueryResults" name="pollReturn" />
	</wsdl:message>

	<wsdl:message name="getStandardVersionRequest">
		<wsdl:part element="epcisq:GetStandardVersion" name="parms" />
	</wsdl:message>
	<wsdl:message name="getStandardVersionResponse">
		<wsdl:part element="epcisq:GetStandardVersionResult" name="getStandardVersionReturn" />
	</wsdl:message>

	<wsdl:message name="getVendorVersionRequest">
		<wsdl:part element="epcisq:GetVendorVersion" name="parms" />
	</wsdl:message>
	<wsdl:message name="getVendorVersionResponse">
		<wsdl:part element="epcisq:GetVendorVersionResult" name="getVendorVersionReturn" />
	</wsdl:message>

	<!-- EPCISSERVICE FAULT EXCEPTIONS -->
	<wsdl:message name="DuplicateNameExceptionResponse">
		<wsdl:part element="epcisq:DuplicateNameException" name="fault" />
	</wsdl:message>
	<!-- QueryValidationException not implemented in EPCIS 1.0 <wsdl:message 
		name="QueryValidationExceptionResponse"> <wsdl:part name="fault" element="epcisq:QueryValidationException"/> 
		</wsdl:message> -->
	<wsdl:message name="InvalidURIExceptionResponse">
		<wsdl:part element="epcisq:InvalidURIException" name="fault" />
	</wsdl:message>
	<wsdl:message name="NoSuchNameExceptionResponse">
		<wsdl:part element="epcisq:NoSuchNameException" name="fault" />
	</wsdl:message>
	<wsdl:message name="NoSuchSubscriptionExceptionResponse">
		<wsdl:part element="epcisq:NoSuchSubscriptionException"
			name="fault" />
	</wsdl:message>
	<wsdl:message name="DuplicateSubscriptionExceptionResponse">
		<wsdl:part element="epcisq:DuplicateSubscriptionException"
			name="fault" />
	</wsdl:message>
	<wsdl:message name="QueryParameterExceptionResponse">
		<wsdl:part element="epcisq:QueryParameterException" name="fault" />
	</wsdl:message>
	<wsdl:message name="QueryTooLargeExceptionResponse">
		<wsdl:part element="epcisq:QueryTooLargeException" name="fault" />
	</wsdl:message>
	<wsdl:message name="QueryTooComplexExceptionResponse">
		<wsdl:part element="epcisq:QueryTooComplexException" name="fault" />
	</wsdl:message>
	<wsdl:message name="SubscriptionControlsExceptionResponse">
		<wsdl:part element="epcisq:SubscriptionControlsException"
			name="fault" />
	</wsdl:message>
	<wsdl:message name="SubscribeNotPermittedExceptionResponse">
		<wsdl:part element="epcisq:SubscribeNotPermittedException"
			name="fault" />
	</wsdl:message>
	<wsdl:message name="SecurityExceptionResponse">
		<wsdl:part element="epcisq:SecurityException" name="fault" />
	</wsdl:message>
	<wsdl:message name="ValidationExceptionResponse">
		<wsdl:part element="epcisq:ValidationException" name="fault" />
	</wsdl:message>
	<wsdl:message name="ImplementationExceptionResponse">
		<wsdl:part element="epcisq:ImplementationException" name="fault" />
	</wsdl:message>

	<!-- EPCISSERVICE PORTTYPE -->
	<wsdl:portType name="Query">

		<wsdl:operation name="getQueryNames">
			<wsdl:input message="impl:getQueryNamesRequest" name="getQueryNamesRequest" />
			<wsdl:output message="impl:getQueryNamesResponse" name="getQueryNamesResponse" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="subscribe">
			<wsdl:input message="impl:subscribeRequest" name="subscribeRequest" />
			<wsdl:output message="impl:subscribeResponse" name="subscribeResponse" />
			<wsdl:fault message="impl:NoSuchNameExceptionResponse"
				name="NoSuchNameExceptionFault" />
			<wsdl:fault message="impl:InvalidURIExceptionResponse"
				name="InvalidURIExceptionFault" />
			<wsdl:fault message="impl:DuplicateSubscriptionExceptionResponse"
				name="DuplicateSubscriptionExceptionFault" />
			<wsdl:fault message="impl:QueryParameterExceptionResponse"
				name="QueryParameterExceptionFault" />
			<wsdl:fault message="impl:QueryTooComplexExceptionResponse"
				name="QueryTooComplexExceptionFault" />
			<wsdl:fault message="impl:SubscriptionControlsExceptionResponse"
				name="SubscriptionControlsExceptionFault" />
			<wsdl:fault message="impl:SubscribeNotPermittedExceptionResponse"
				name="SubscribeNotPermittedExceptionFault" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="unsubscribe">
			<wsdl:input message="impl:unsubscribeRequest" name="unsubscribeRequest" />
			<wsdl:output message="impl:unsubscribeResponse" name="unsubscribeResponse" />
			<wsdl:fault message="impl:NoSuchSubscriptionExceptionResponse"
				name="NoSuchSubscriptionExceptionFault" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="getSubscriptionIDs">
			<wsdl:input message="impl:getSubscriptionIDsRequest" name="getSubscriptionIDsRequest" />
			<wsdl:output message="impl:getSubscriptionIDsResponse"
				name="getSubscriptionIDsResponse" />
			<wsdl:fault message="impl:NoSuchNameExceptionResponse"
				name="NoSuchNameExceptionFault" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="poll">
			<wsdl:input message="impl:pollRequest" name="pollRequest" />
			<wsdl:output message="impl:pollResponse" name="pollResponse" />
			<wsdl:fault message="impl:QueryParameterExceptionResponse"
				name="QueryParameterExceptionFault" />
			<wsdl:fault message="impl:QueryTooLargeExceptionResponse"
				name="QueryTooLargeExceptionFault" />
			<wsdl:fault message="impl:QueryTooComplexExceptionResponse"
				name="QueryTooComplexExceptionFault" />
			<wsdl:fault message="impl:NoSuchNameExceptionResponse"
				name="NoSuchNameExceptionFault" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="getStandardVersion">
			<wsdl:input message="impl:getStandardVersionRequest" name="getStandardVersionRequest" />
			<wsdl:output message="impl:getStandardVersionResponse"
				name="getStandardVersionResponse" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>

		<wsdl:operation name="getVendorVersion">
			<wsdl:input message="impl:getVendorVersionRequest" name="getVendorVersionRequest" />
			<wsdl:output message="impl:getVendorVersionResponse"
				name="getVendorVersionResponse" />
			<wsdl:fault message="impl:SecurityExceptionResponse" name="SecurityExceptionFault" />
			<wsdl:fault message="impl:ValidationExceptionResponse"
				name="ValidationExceptionFault" />
			<wsdl:fault message="impl:ImplementationExceptionResponse"
				name="ImplementationExceptionFault" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- EPCISSERVICE BINDING -->
	<wsdl:binding name="EPCISServiceBinding" type="impl:Query">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getQueryNames">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getQueryNamesRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getQueryNamesResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="subscribe">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="subscribeRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="subscribeResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="InvalidURIExceptionFault">
				<wsdlsoap:fault name="InvalidURIExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="DuplicateSubscriptionExceptionFault">
				<wsdlsoap:fault name="DuplicateSubscriptionExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="QueryParameterExceptionFault">
				<wsdlsoap:fault name="QueryParameterExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="QueryTooComplexExceptionFault">
				<wsdlsoap:fault name="QueryTooComplexExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SubscribeNotPermittedExceptionFault">
				<wsdlsoap:fault name="SubscribeNotPermittedExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SubscriptionControlsExceptionFault">
				<wsdlsoap:fault name="SubscriptionControlsExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="unsubscribe">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="unsubscribeRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="unsubscribeResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchSubscriptionExceptionFault">
				<wsdlsoap:fault name="NoSuchSubscriptionExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getSubscriptionIDs">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSubscriptionIDsRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getSubscriptionIDsResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="poll">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="pollRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="pollResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="QueryParameterExceptionFault">
				<wsdlsoap:fault name="QueryParameterExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="QueryTooComplexExceptionFault">
				<wsdlsoap:fault name="QueryTooComplexExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="QueryTooLargeExceptionFault">
				<wsdlsoap:fault name="QueryTooLargeExceptionFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getStandardVersion">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getStandardVersionRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getStandardVersionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getVendorVersion">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getVendorVersionRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getVendorVersionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<!-- EPCISSERVICE -->
	<wsdl:service name="Query">
		<wsdl:port binding="impl:EPCISServiceBinding" name="Query">
			<!-- The address shown below is an example; an implementation MAY specify 
				any port it wishes -->
			<wsdlsoap:address
				location="http://localhost:8080/epcis/services/EPCglobalEPCISServicePort" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
